mat-sidenav-container > mat-sidenav{
    width: 300px;

}

.sideDesign{
    height: 95vh !important; 
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
div > button{
    width: 100%;
}